node_modules/
.next/
dist/
out/
.env
.env.local
.DS_Store
Thumbs.db
public/Imagenes/logo-full.png
public/Imagenes/logo-mark.png
public/Imagenes/*.psdnode_modules
.next
out
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.vscode/
.idea/
